* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.circle1{
    position: absolute;
    width: 250px;
    height: 250px;
    background: #ff316f2f;
    border-radius: 50%;
    top: -15%;
    left: -20%;
    z-index: 1;
}

.circle2{
    position: absolute;
    width: 200px;
    height: 200px;
    background: #ff316f98;
    border-radius:  50%;
    top: -10%;
    left: -20%;
    z-index: 1;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 600px;
    box-shadow: 0px 2px 4px rgb(184, 184, 184),
                0px 4px 8px rgb(200, 200, 200);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .9rem;
    color: #26242e;
    background: #f3f3f3;
    z-index: 100;
}

.inputs{
    width: 260px;
    height: 470px;
    line-height: 1cm;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 2;
}
.input-field{
    border: none;
    width: 260px;
    height: 470px;
    border: 2px solid #dbdbdb;
    border-radius: 4px;
    padding-left: .7rem;
    outline: none;
    font-weight: 600;
    font-size: 15px;
}

input:focus{
    border-color: #ff316f;
}

::placeholder{
    color: #b8b8b8;
}

.radio-btn{
    width: 100%;
    height: 45px;
    display: flex;
}

label{
    font-size: 15px ;
    font-weight: 500;
    color: #2c2c2c;
}

.radio-btn input{
    display: none;
}

.radio-btn label{
    position: relative;
    width: 100px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #fff;
    margin-right: 1rem;
    font-weight: 600;
}

.mark{
    position: relative;
    width: 18px;
    height: 18px;
    display: block;
    border: 2px solid #c7c7c7;
    border-radius: 50%;
    transition: .3s;
}

.mark::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 11px;
    height: 11px;
    background: #ff316f;
    border-radius: 50%;
    opacity: 0;
    transition: .3s;
}

.btn-border{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 45px;
    border: 2px solid #dbdbdb;
    border-radius: 4px;
}

input[type="radio"]:checked ~.mark{
    border-color: #ff316f;
}

input[type="radio"]:checked ~.mark::before{
    opacity: 1;
}

input[type="radio"]:checked ~.btn-border{
    border-color: #ff316f;
}

.text{
    display: flex;
    align-items: center;
    left: 1rem;
}

.btn button{
    width: 275px;
    height: 45px;
    border-radius: 4px;
    border: none;
    outline: none;
    background: #ff316f;
    color: white;
    font-size: 17px;
}

p{
    position: relative;
    font-size: 15px;
    line-height: 0.48cm;
    left: .4rem;
    width: 100%;
}

a{
    font-weight: 600;
    color: #1294fc;
}




